@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/src/background-military.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 25px 0;
    position: relative;
    z-index: 2;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logo {
    height: 120px;

}

h1 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav a.active-nav {
    background-color: #4a4a4a;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    color: #a0d2eb;
    background-color: rgba(255, 255, 255, 0.2);
}

nav a:active {
    background-color: #030b55;
}

main {
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.intro {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
}

.content {
    display: flex;
    align-items: center;
    max-width: 800px;
    flex: 1;
    margin-left: 20px;
}

.image-left, .image-right {
    width: 350px;
    height: 350px;
    margin-right: 30px;
    border-radius: 10px;
}

p {
    font-size: 22px;
    line-height: 1.8;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 800px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.button-link {
    display: inline-block;
    padding: 18px 30px;
    background-color: #064908;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-link:hover {
    background-color: #33691e;
    transform: translateY(-5px);
}

.button-link:active {
    background-color: #2c6b1f;
    transform: translateY(0);
}


footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    z-index: 10;
}

footer p {
    margin: 0;
}
